<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cj_app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TopPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.cj_app.DetailsActivity" >
        </activity>
        <activity android:name="com.example.cj_app.AnimeSearch" >
        </activity>
        <activity android:name="com.example.cj_app.AnimeSearchResult" >
        </activity>
        <activity android:name="com.example.cj_app.AnimeSearchDetail" >
        </activity>
        <activity android:name="com.example.cj_app.TourCreateCompletionActivity" >
        </activity>
        <activity android:name="com.example.cj_app.TourCreateConfirmationActivity" >
        </activity>
        <activity android:name="com.example.cj_app.TourCreatemain" >
        </activity>
        <activity android:name="com.example.cj_app.TourCreatingActivity" >
        </activity>
        <activity android:name="com.example.cj_app.TourSearchMain" >
        </activity>

    </application>

</manifest>